/*body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px; 
}

body#tinymce.wp-editor a {
    color: #4CA6CF;
}*/
body#tinymce.wp-editor div.image-wrapper {
  overflow: hidden;
  background: #f1f1f1;
  clear: both;
  margin: 0 16px;
}

body#tinymce.wp-editor ul.block-list {
  background: #f1f1f1;
  margin-bottom: 16px;
}
